{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %} Portifolio {% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5f81a82863.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "admin/css/theme.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <style>
    html,
    body {
      height: 100%;
    }

    .flex-fill {
      flex: 1;
    }
  </style>
</head>

<body>
  <main class="d-md-flex flex-column h-100">
    <div class="container-fluid d-flex h-100">
      <div class="row flex-fill bg-primary text-light">
        <nav class="col-2 d-none d-md-block bg-light sidebar bg-dark d-flex flex-column flex-fill">
          <div class="sidebar-sticky text-center">
            {% block sidebar %}
            <p>
              <h1 class="d-none d-lg-block" style="font-family: Oswald;"> Portifolio </h1>
              <p></p>
              <a class="nav-link text-light p-0" href="."><span class="d-none d-lg-block"><i class="fas fa-home"></i>
                  Home</span><span class="d-lg-none"><i class="fas fa-home"></i></span></a>
            {% endblock  %}
          </div>
        </nav>

        <div class="col-10 ml-sm-auto px-4 bg-primary text-break">

          {% block content %}
          {% endblock %}
          <!--<footer class="pt-5 my-5 border-top">
            <div class="row flex-fill">
              <div class="col">"Footer"</div>
              <div class="col">"Footer"</div>
              <div class="col">"Footer"</div>

            </div>

          </footer>-->
        </div>
      </div>

    </div>
</body>
</main>

</html>